{% extends 'ktApp/layout.html' %}
{% load static %}
{% block content %}
     <!-- Carousel -->
    <div id="carousel">
      <div id="carouselExampleIndicators" class="carouselCustom carousel slide container" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'ktApp/images/img1.jpg' %}" class="d-block w-100" alt="hello">
          </div>
          <div class="carousel-item">
            <img src="{% static 'ktApp/images/img2.jpg' %}" class="d-block w-100" alt="world">
          </div>
          <div class="carousel-item">
            <img src="{% static 'ktApp/images/img2.jpg' %}" class="d-block w-100" alt="go">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
    <div id="content">
    </div>
    <div id="react"></div>


    <script type="text/babel">
      class Hello extends React.Component {
        render() {
          return ( 
                <div>
              <h1>Hello Kworld</h1>
              <button>Scream HeyK!</button>
            </div>
              );
        }
      }

      ReactDOM.render(<Hello />, document.getElementById('react'))
    </script>
     
{% endblock %}