{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>KashTag</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href = "{% static 'ktApp/css/layout-style.css' %}">
        <script type="text/javascript" src="{% static 'ktApp/js/links.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-static-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" id="mast-head" href="{% url 'ktApp:home' %}" data-activity="home">KashTag</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'ktApp:home' %}" data-activity="home">Home</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li> -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Where Do You Wanna Stay?
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'ktApp:display-hotels' %}" data-activity="hotel">Hotel</a></li>
                      <li><a class="dropdown-item"  href="{% url 'ktApp:display-huts' %}" data-activity="hut">Hut</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                    
                    
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Other Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#" data-activity="ski">Skiing/Snowboarding</a></li>
                      <li><a class="dropdown-item" href="#" data-activity="sledge">Sledge/Horseriding</a></li>
                      <li><a class="dropdown-item" href="#" data-activity="instructor">Call a Ski Instructor</a></li>
                      <li><a class="dropdown-item" href="#" data-activity="ski-shop">Call a Ski Shop</a></li>
                      <li><a class="dropdown-item" href="#" data-activity="ski-lender">Call a Ski Lender</a></li>
                    </ul>
                    
                    
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Look up a hut or hotel" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>

         {% block content %}
         {% endblock %}



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>